# Sofascore

Sofascore is a website that provides live scores, results, and fixtures for a variety of sports. It also provides statistics and player ratings for football matches. 

It has some advanced statistics and event data we can use like shots and expected goals.

The unique thing about Sofascore is that it is a website that is set up terribly for scraping, but we can still do it thanks to APIs they use to load the data.

In [1]:
# We'll scrape all of the shot data from the Women's Champions League Final between Barcelona and Wolfsburg in 2023
url = 'https://www.sofascore.com/barcelona-vfl-wolfsburg/glcsOhG#id:11253247'

# in this url, the id for the match is 11253247
match_id = url.split('id:')[-1]

In [2]:
import json
import os

# execute a curl command to get the data
result = json.loads(os.popen( 
  f'curl -H "Host: api.sofascore.com" -H "Accept: */*" -H "User-Agent: curl/8.1.2" https://api.sofascore.com/api/v1/event/{match_id}/shotmap'
).read())['shotmap']

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 20821  100 20821    0     0  70731      0 --:--:-- --:--:-- --:--:-- 71549

In [3]:
import pandas as pd

df = pd.DataFrame(result)

In [4]:
df.head(10)

,player,isHome,shotType,situation,playerCoordinates,bodyPart,goalMouthLocation,goalMouthCoordinates,blockCoordinates,id,time,addedTime,timeSeconds,draw,reversedPeriodTime,reversedPeriodTimeSeconds,incidentType,goalType
0,"{'name': 'Pauline Bremer', 'firstName': '', 'l...",False,save,corner,"{'x': 7.7, 'y': 54, 'z': 0}",head,high-centre,"{'x': 0, 'y': 51.7, 'z': 21.5}","{'x': 1, 'y': 52.5, 'z': 0}",2068363,90,9.0,5910,"{'start': {'x': 54, 'y': 7.7}, 'block': {'x': ...",1,390,shot,NaN
1,"{'name': 'Lucy Bronze', 'firstName': '', 'last...",True,block,corner,"{'x': 2.7, 'y': 40.2, 'z': 0}",head,low-centre,"{'x': 0, 'y': 51.2, 'z': 19}","{'x': 1.4, 'y': 44.4, 'z': 0}",2068297,80,NaN,4748,"{'start': {'x': 40.2, 'y': 2.7}, 'block': {'x'...",11,652,shot,NaN
2,"{'name': 'Patricia Guijarro', 'slug': 'patrici...",True,block,set-piece,"{'x': 7.3, 'y': 42.9, 'z': 0}",head,low-centre,"{'x': 0, 'y': 51.6, 'z': 19}","{'x': 5.8, 'y': 44, 'z': 0}",2068287,78,NaN,4675,"{'start': {'x': 42.9, 'y': 7.3}, 'block': {'x'...",13,725,shot,NaN
3,"{'name': 'Aitana Bonmatí', 'firstName': '', 'l...",True,save,assisted,"{'x': 18.1, 'y': 53.6, 'z': 0}",right-foot,low-centre,"{'x': 0, 'y': 49.7, 'z': 17.1}","{'x': 1.2, 'y': 51.3, 'z': 0}",2068275,76,NaN,4511,"{'start': {'x': 53.6, 'y': 18.1}, 'block': {'x...",15,889,shot,NaN
4,"{'name': 'Geyse Ferreira', 'firstName': '', 'l...",True,miss,fast-break,"{'x': 9.8, 'y': 71.3, 'z': 0}",right-foot,high-right,"{'x': 0, 'y': 41.8, 'z': 66.7}",NaN,2068267,72,NaN,4295,"{'start': {'x': 71.3, 'y': 9.8}, 'end': {'x': ...",19,1105,shot,NaN
5,"{'name': 'Fridolina Rolfö', 'firstName': '', '...",True,goal,assisted,"{'x': 6.7, 'y': 44.9, 'z': 0}",left-foot,high-right,"{'x': 0, 'y': 47.1, 'z': 24.7}",NaN,2068254,70,NaN,4177,"{'start': {'x': 44.9, 'y': 6.7}, 'end': {'x': ...",21,1223,shot,regular
6,"{'name': 'Mariona Caldentey', 'firstName': '',...",True,miss,assisted,"{'x': 7.8, 'y': 55.5, 'z': 0}",right-foot,close-right,"{'x': 0, 'y': 40.8, 'z': 9.7}","{'x': 4.5, 'y': 56.7, 'z': 0}",2068262,70,NaN,4171,"{'start': {'x': 55.5, 'y': 7.8}, 'block': {'x'...",21,1229,shot,NaN
7,"{'name': 'Ewa Pajor', 'slug': 'pajor-ewa', 'sh...",False,save,fast-break,"{'x': 11.4, 'y': 32.4, 'z': 0}",right-foot,high-left,"{'x': 0, 'y': 52.3, 'z': 20.9}","{'x': 1.8, 'y': 47.3, 'z': 0}",2068253,69,NaN,4102,"{'start': {'x': 32.4, 'y': 11.4}, 'block': {'x...",22,1298,shot,NaN
8,"{'name': 'Ewa Pajor', 'slug': 'pajor-ewa', 'sh...",False,save,assisted,"{'x': 11.4, 'y': 31.8, 'z': 0}",right-foot,low-centre,"{'x': 0, 'y': 51.5, 'z': 1.9}","{'x': 2.2, 'y': 45.8, 'z': 0}",2068250,67,NaN,4018,"{'start': {'x': 31.8, 'y': 11.4}, 'block': {'x...",24,1382,shot,NaN
9,"{'name': 'Lena Oberdorf', 'firstName': '', 'la...",False,miss,throw-in-set-piece,"{'x': 9.3, 'y': 41, 'z': 0}",right-foot,high-left,"{'x': 0, 'y': 56.3, 'z': 81.9}",NaN,2068237,65,NaN,3886,"{'start': {'x': 41, 'y': 9.3}, 'end': {'x': 43...",26,1514,shot,NaN